App\Entity\Car:
  type: entity
  repositoryClass: App\Repository\CarRepository
  table: car
  id:
    id:
      type: integer
      generator:
        strategy: AUTO
  fields:
    brandId:
      type: integer
      length: 8
    modelId:
      type: integer
      leingth: 8
    bodyTypeId:
      type: integer
      leingth: 8
    yearIssue:
      type: integer
      length: 4
    mileage:
      type: integer
      length: 4
    buildId:
      type: integer
      length: 8
    description:
      type: string
      length: 255
      nullable: true
  manyToOne:
    brand:
      targetEntity: CarBrand
      inversedBy: cars
      joinColumn:
        name: brandId
        referencedColumnName: id
    model:
      targetEntity: CarModel
      inversedBy: cars
      joinColumn:
        name: modelId
        referencedColumnName: id
    bodyType:
      targetEntity: CarBodyType
      inversedBy: cars
      joinColumn:
        name: bodyTypeId
        referencedColumnName: id
    build:
      targetEntity: CarBuild
      inversedBy: cars
      joinColumn:
        name: buildId
        referencedColumnName: id