App\Entity\CarMileage:
  type: entity
  table: car_mileage
  id:
    id:
      type: integer
      generator:
        strategy: AUTO
  fields:
    name:
      type: string
      length: 42
  oneToMany:
    cars:
      targetEntity: Car
      mappedBy: mileageId